.cp_RepoCard {
  $self: &;
  
  background:$clrWhite;
  max-width:em(700);
  margin:0 auto em(20);
  box-shadow:0 3px 15px rgba($clrBlack,0.1);
  border-radius: 7px;
  display: flex; 

  > * {
    padding:em(12) em(15);
  }

  &__details {
    flex-grow:1;
    text-align: left;
  }

  &__title {
    margin:0;
    color:$clrGrey;
  }

  &__desc {
    margin:em(5) 0 0;
    color:$clrLightGrey;
  }

  &__stars {
    @include flexBase;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:$clrGrey;
    color:$clrWhite;
  }

  &__starsTotal { 
    font-size:em(20);
    font-weight:$bold;
    margin:em(4,20) 0 0;
    min-width:50px;
  }

  &__link {
    background:$clrBlue;
    color:$clrWhite;
    display:flex;
    align-items:center;
    border-radius:0 7px 7px 0;
    padding:em(5) em(20);


    &:hover, &:focus, &:active {
      #{ $self }__linkIcon {
        opacity: 1;
        transform:scale(1);
      }
      
    } 
  }

  &__linkIcon {
    opacity: 0.5;
    transition:all 0.2s ease-in-out;
    transform:scale(0.8);
    transform-origin:center left;
  }
}
