.cp_ProjectCard {
  $self: &;
  
  background:$clrWhite;
  max-width:em(700);
  margin:0 auto em(20);
  box-shadow:0 3px 4px rgba($clrBlack,0.1);
  border-radius: 5px;
  display: flex; 
  transition:all $timeStandardLink;
    

  > * {
    padding:em(12) em(15);
  }

  &__details {
    flex-grow:1;
    text-align: left; 
  }

  &__title {
    font-size:em(20);
    font-weight: $bold;
    margin:0 0 10px;
    color:$clrGrey;
  }

  &__jobNumber {
    padding:4px 5px 2px;
    font-size:em(18,20);
    line-height: 1;
    background:#4BF9D8;
    border-radius:3px;
    margin-right: 3px;
    display: inline-block;
  }

  &__desc {
    font-size:em(14);
    margin:em(5,14) 0 em(15,14);
    color:$clrLightGrey;
  }

  &__meta {
    display: flex;
    padding:10px;
    background:$clrOffWhite;
    border-radius: 5px;
  }

  &__owner,
  &__client {
    font-size:em(14);
    color:$clrLightGrey;
    margin-right: 15px;

    strong {
      color:$clrGrey;
      font-weight: $bold;
    }
  }

  &__actions {
    padding-left: 0;
  }

  &__editButton {
    background:none;
    border:none;
    padding:4px 6px;
    cursor: pointer;
    transition:all $timeStandardLink;
    background:$clrOffWhite;
    border-radius: 5px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &--editing {
    opacity:0.5;

    #{ $self }__editButton {
      opacity:0.2; 
      transform:scale(0.8);
      cursor:default;
      outline: none;
    }  
  }
}

