.cp_Logo {
  padding:em(20) 0; 
  text-align: center;

  &__image {
    max-width:50vw;
    line-height: 0;
    margin:0 auto em(15);
    text-align: center;
  }

  &__title {
    font-size:em(24);
    font-weight:$bold;
    color:#92AECC;
    margin:0;
  }
}
