.pageSection {
  $self: &;

  &__inner {
    &--main,
    &--footer,
    &--status {
      max-width:em(1600);
      margin:0 auto;
    }

    &--main {
      padding:5vw;
    }

    &--status,
    &--footer {
      padding:0 5vw;
    }
  }

  &--header {
    background:$clrWhite;
  }

  &--footer {
    justify-content: flex-end;
    flex-grow: 1;
    display: flex; 

    #{ $self }__inner {
      flex-grow:1; 
    }
  }

  .logo {
    grid-column: span 12;
  }

  .ob_Form,
  .cp_FormReport {
    grid-column: span 6;
  }
}

/* !== Breakpoint */
@include mq($bpLando) {
  .pageSection {
    .ob_Form,
    .cp_FormReport {
      grid-column: span 12;
    }

    .ob_Form {
      grid-row:2;
      margin-top: 20px;
    }
  }
}