.pageSection {
  $self: &;

  &__inner {
    padding:0 5vw;
  }

  &--header {
    background:$clrWhite;
  }

  &--main {
    #{ $self }__inner {
      padding:5vw;
    } 
  }

  .logo {
    grid-column: span 12;
  }

  .ob_Form,
  .cp_FormReport {
    grid-column: span 6;
  }
}