// Text Field component styles

.cp_TextField {
  margin:0 0 1em;

  &__label {
    font-size:em(18);
    font-weight: 600;
    color:$clrBlue;
    display: block;
    margin:0 0 em(5,20);
  }

  &__input {
    font-size:em(18);
    padding:em(10,18);
    font-weight: $bold;
    width: 100%;
    max-width:em(400,18);
    border-radius:6px;
    border:1px solid $clrVeryLightGrey;
  }
}